.notification{
	&-page{
		.notification-list{
			border: 1px solid #ebebeb;
		    border-radius: 10px;
		    overflow: hidden;
		}
	}
	&-list{
			.overflow{
				max-height: 450px;
				overflow-y:auto; 
			}
			.nav {
				&-item{
					border-bottom: 1px solid rgba(0,0,0,0.08);
					&:last-child{
						border-bottom: none;
					}
					&.empty-label{
						padding: 15px 20px;
						p{
							margin-bottom: 0px;
							font-weight: 400;
							color: #808080;
							font-size: 14px;
						}
					}
				}
				&-link {
					padding: 10px 20px !important;
					&.all-notification{
						text-align: center;
						font-size: 13px;
						color: $color;
						background-color: #fafafa;
						border-top: 1px solid rgba(0,0,0,0.08);
					}
					p{
						margin-bottom: 0px;
						font-weight: 400;
						color: #808080;
						font-size: 13px;
						span{
							color: #000;
							font-weight: 500;
						}
					}
					.date{
						font-size: 12px;
						font-weight: 400;
						color: #999999;
						margin-top: 10px;
					}
					&.unread{
						background-color: lighten($color, 43%);
						p{
							font-weight: 600;
							color: #333;
							span{
								color: #000;
								font-weight: 700;
							}
						}
					}
				}
			}
		}
}